In [3]:
import numpy as np
import pandas as pd
import os

In [5]:
path = os.getcwd()
home_path = os.path.dirname(path)
gis_folder = f'{home_path}\\GIS'
data_folder = f'{home_path}\\Data'
camels_data_folder = f'{home_path}\\Data\\Camels'

In [8]:
df_names = pd.read_csv(f"{camels_data_folder}\\camels_name.txt", delimiter=";")

In [9]:
df_names.

     gauge_id  huc_02                                    gauge_name
0     1013500       1              Fish River near Fort Kent, Maine
1     1022500       1       Narraguagus River at Cherryfield, Maine
2     1030500       1   Mattawamkeag River near Mattawamkeag, Maine
3     1031500       1  Piscataquis River near Dover-Foxcroft, Maine
4     1047000       1    Carrabassett River near North Anson, Maine
..        ...     ...                                           ...
666  14309500      17         WEST FORK COW CREEK NEAR GLENDALE, OR
667  14316700      17                STEAMBOAT CREEK NEAR GLIDE, OR
668  14325000      17       SOUTH FORK COQUILLE RIVER AT POWERS, OR
669  14362250      17                     STAR GULCH NEAR RUCH, OR.
670  14400000      17               CHETCO RIVER NEAR BROOKINGS, OR

[671 rows x 3 columns]