In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import fastparquet

In [21]:
def get_location(data, sort, create=False):
    unique_station = data.STATION.unique()
    unique_lat = np.zeros(len(unique_station))
    unique_lon = np.zeros(len(unique_station))
    
    for index, station in enumerate(unique_station):
        unique_lat[index] = data[data.STATION == station].LATITUDE[0]
        unique_lon[index] = data[data.STATION == station].LONGITUDE[0]
        
    
    locations = pd.DataFrame([unique_station, unique_lat, unique_lon]).T

    locations = locations.rename({0:'station ID', 1:'lat', 2:'lon'}, axis='columns')
    
    if create == True:
        locations.to_csv(f'{data_folder}\\P\\locations_{sort}.csv')
        return locations
    return locations

In [22]:
def split_df_station(data, locations, sort, create=False):
    locations = np.array(locations)
    #unique_station = data.STATION.unique()
    #create a data frame dictionary to store your data frames
    DataFrameDict = {x : pd.DataFrame() for x in locations}

    for key in DataFrameDict.keys():
        DataFrameDict[key] = data[:][data.STATION == key]
        if create == True:
            DataFrameDict[key].to_csv(f'{data_folder}\\P\\data per station\\data_{key}_{sort}.csv')
    return DataFrameDict

In [23]:
def list_dataframe(dict_data, sort):
    df_list = []
    for name in dict_data.keys():
        DF = pd.read_csv(f'{data_folder}\\P\\data per station\\data_{name}_{sort}.csv', index_col='DATE', parse_dates=True)
        df_list.append(DF)
    return df_list

In [24]:
path = os.getcwd()
home_path = os.path.dirname(path)
data_folder = f'{home_path}\\Data'

In [25]:
files = glob.glob(f"{data_folder}\\*.csv")
files

['C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\3285895.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\3286005.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\precipitation_troylockdam.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\Q_ids_with_begin-end-date.csv']

In [26]:
data_P = pd.read_csv(files[1], index_col='DATE', usecols=['DATE', 'PRCP', 'STATION', 'LATITUDE', 'LONGITUDE'],  delimiter=',', parse_dates=True)
data_P

                STATION  LATITUDE  LONGITUDE  PRCP
DATE
2021-09-13  US1NHHL0103    42.826  -71.82923  21.3
2021-09-14  US1NHHL0103    42.826  -71.82923   0.0
2021-09-15  US1NHHL0103    42.826  -71.82923   0.0
2021-09-16  US1NHHL0103    42.826  -71.82923  16.3
2021-09-17  US1NHHL0103    42.826  -71.82923   0.3
...                 ...       ...        ...   ...
1995-01-27  USC00305769    43.200  -74.91667   2.0
1995-01-28  USC00305769    43.200  -74.91667   0.0
1995-01-29  USC00305769    43.200  -74.91667   0.0
1995-01-30  USC00305769    43.200  -74.91667   0.0
1995-01-31  USC00305769    43.200  -74.91667   0.0

[5324070 rows x 4 columns]

In [27]:
files = glob.glob(f"{data_folder}\\P\\*.csv")
files

['C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\P\\average_P.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\P\\locations_evap.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\P\\locations_P.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\P\\locations_prcp.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\P\\locations_P_in_basin.csv',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\P\\location_northern_basin.csv']

In [28]:
locations_basins = pd.read_csv(files[-1], usecols=['station ID']).values.tolist()
locations_basins = np.stack( locations_basins, axis=1 )[0]

dict_stations_P = split_df_station(data_P, locations_basins, 'prcp') #, create=True)

In [29]:
df_list_prcp = list_dataframe(dict_stations_P, 'prcp')

In [30]:
def average_data(df_lst, column):
    
    df_lst_data = []
    
    for i in range(len(df_lst)):
        df_data = df_lst[i][column]
        df_data.to_frame()
        
        df_lst_data.append(df_data)
    
    df = pd.concat(df_lst_data, axis=1)
    df_avg = df.mean(axis=1).to_frame()
    return df_avg

In [31]:
average_prcp = average_data(df_list_prcp, 'PRCP')
average_prcp.columns = ['P']
average_prcp.columns

In [42]:
average_prcp.to_parquet(f"{data_folder}\\P\\average_P.parquet")

In [ ]:
fig, ax = plt.subplots(figsize=(15,6))
average_prcp.loc['1900'::].plot(ax=ax)
ax.set_ylabel('Precipitation [mm]')
ax.set_title('Average Precipitation Stations in Basins');

In [22]:
a = [1,2,3,4] 
b = [2,3,4,5]
c=[]
c+= a
c+=b

In [33]:
sum(c)

24

In [30]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9