In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os

In [5]:
path = os.getcwd()
home_path = os.path.dirname(path)
data_folder = f'{home_path}\\Data'

In [7]:
files_E = glob.glob(f"{data_folder}\\EP\\*.parquet")
files_E

['C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\14733.0.parquet',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\14735.0.parquet',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\14768.0.parquet',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\14771.0.parquet',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\4725.0.parquet',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\94725.0.parquet',
 'C:\\Users\\anne-\\OneDrive - Delft University of Technology\\Documenten\\Environmental Engineering MSc\\ENVM1502-Catchment-model\\Data\\EP\\94728.0.parquet']

In [18]:
files_P = glob.glob(f"{data_folder}\\P\\*.parquet")
files_P

prcp = pd.read_parquet(files_P[0])

In [33]:
files_Q = glob.glob(f"{data_folder}\\Q\\*1358000.csv")
files_Q

discharge = pd.read_csv(files_Q[0], usecols=['datetime', 'Q_m3_s_mean'], index_col=['datetime'], parse_dates=True)

In [34]:
df = pd.concat([evap, prcp, discharge])

              P  Q_m3_s_mean
1880-07-28  0.0          NaN
1885-01-01  4.3          NaN
1885-01-02  0.0          NaN
1885-01-03  0.0          NaN
1885-01-04  0.0          NaN
...         ...          ...
2023-03-30  NaN   761.723174
2023-03-31  NaN   659.782526
2023-04-01  NaN   815.525182
2023-04-02  NaN  1432.832438
2023-04-03  NaN  1155.327341

[76193 rows x 2 columns]